/* signup.css */
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/page-title-bg.webp');
  }
  
  .signup-form {
    width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
  }
  
  .form-input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .form-button {
    width: 100%;
    padding: 10px;
    background-color: #ff9800;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-button:hover {
    background-color: #28a745;
  }
  
  .form-divider {
    text-align: center;
    margin: 15px 0;
    font-size: 14px;
    color: #888;
  }
  
  .google-signup-button {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .google-signup-button:hover {
    background-color: #000000;
  }
  
  .switch-link {
    margin-top: 20px;
    color: #333;
    text-align: center;
  }
  
  .switch-link a {
    color: #ff9800;
    text-decoration: none;
  }
  
  .switch-link a:hover {
    text-decoration: underline;
  }
  